@page 
@model FisketorvetInfinte.Pages.UserManagement.AllUsersModel
@{
}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Adress</th>
      <th scope="col">Phone number</th>
      <th scope="col">Administrator</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <<td>test</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>mdo</td>
      <td>test</td>
      <td>test</td>
    </tr>
    <tr>
     <td>test</td>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>fat</td>
      <td>test</td>
      <td>test</td>
    </tr>
    <tr>
      <td>test</td>
      <td>Larry</td>
      <td>the Bird</td>
      <td>twitter</td>
      <td>test</td>
      <td>test</td>
    </tr>
  </tbody>
</table>

