html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('/images/bg2.jpg');
    background-repeat:repeat;
}

#headerShop {
    font-size:50px;
    text-align: center;
}

#shopDiv {
    width: 250px;
    border: 1px solid black;
    float: left;
    margin-right: 25px;
    margin-top: 25px;
    padding: 15px;
    justify-content: center;
    opacity:100%;
    
    
}

    #shopDiv:hover {
        background-image: linear-gradient(to right, #0044ad, #58f3e1);
       
   
    }

#divMasterShop {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav {
    width: 200px;
    height: 100vh;
    display: block;
    float: left;
    overflow: hidden;
    background-image: url('/images/navbg.png');
    background-repeat: repeat;
}

.padding-left {
    padding-left:200px;
}

.modal-link {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    
}
