@page
@model IndexModel
@{
    if (Model.Role == "admin")
    {
        Layout = "_AdminLayout";
    }
    else
    {
        Layout = "_Layout";
    }
}

<div class="text-center">
    <h1 class="display-4">Hello there this is a test of live changes</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
