@page
@model FisketorvetInfinte.Pages.Index1Model
@{
}

<body>    
    <center> <h1>Welcome to Fisketorvet Infinite</h1> </center>   
    <form method="post">  
        <div class="container">   
            <label>Username : </label>   
            <input asp-for="@Model.username" type="text" placeholder="Enter Username" name="username" required>  
            <label>Password : </label>   
            <input asp-for="@Model.password" type="password" placeholder="Enter Password" name="password" required>  
            <input type="submit" value="Login" class="btn btn-primary" />  
            <button type="button" class="btn btn-primary">Register</button>
        </div>
    </form>     
</body>    
