@page
@model FisketorvetInfinte.Pages.WelcomeModel
@{
    if(Model.Role == "admin")
    {
        Layout = "_AdminLayout";
    }
}
<h1>Welcome!</h1>
<h3>You are now logged in and can proceed to use Our website.</h3>