@page
@model FisketorvetInfinte.Pages.WelcomeModel
@{
    if(Model.Role == "admin")
    {
        Layout = "_AdminLayout";
    }
}
@if(Model.Role == "admin")
{
    <h1>Welcome admin user!</h1>
    <h3>You are now logged in and can proceed to use Our website.</h3>
}
else
{
    <h1>Welcome normal user!</h1>
    <h3>You are now logged in and can proceed to use Our website.</h3>
}
